.backdrop {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: grey;
    opacity: 0.8;

    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}